.cart-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: inherit;
  min-height: calc(100vh - 100px);
}

.cart-main h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #f45800;
}

.cart-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100%;
  width: inherit;
}

.cart-items {
  width: 40%;
  height: 25%;
  margin-right: 3%;
}

.cart-item-list {
  max-height: 600px;
  overflow: auto;
  width: 100%;
}

.inner-cart-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.inner-cart-list:hover {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

.cart-item-photo {
  object-fit: cover;
  height: 145px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
}

.item-product-name {
  text-decoration: none;
  color: black;
  margin-bottom: 7px;;
}

.item-product-price {
  opacity: 0.75;
  margin-bottom: 7px;;
}

.item-product-quantity {
  opacity: 0.75;
}

.item-product-subtotal { 
  margin-top: 30px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 225px;
}


.remove-button {
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
  margin-bottom: 15px;
}

.remove-button button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.remove-button button:hover {
  cursor: pointer;
}

.cart-total {
  min-width: 225px;
  align-self: center;
  margin-left: 3%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.cart-total-container {
  min-width: 225px;
  align-self: center;
  /* margin-left: 3%; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D3D3D3;
  border-right: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-radius: 3px;
}

.cart-total-left {
  border-radius: 3px;
  padding: 5px;
}

.cart-total-right {
  border-radius: 3px;
  padding: 5px;
}

.cart-total-left li {
  margin-top: 5px;
  margin-right: 5px;
}

.cart-total-right li {
  margin-top: 5px;
  margin-left: 5px;
  text-align: right
}

.estimated-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  border-top: 1px solid #D3D3D3;
  margin-top: 15px;
  padding: 0 5px;
  border-radius: 3px;
}

.cart-total-information {
  display: flex;
}
/* 
 .line-break {
  border-bottom: 1px solid #d3d3d3;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
} */


.checkout-button {
  margin-top: 10px;
  width: 100%;
}

.checkout-button button {
  background-color: #f45800;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  width: 100%;
}

.checkout-button button:hover {
  cursor: pointer;
}
