.cart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
}

.cart-items {
  width: 50%;
  height: 25%;
}

.cart-item-list {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.inner-cart-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.inner-cart-list:hover {
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
}

.cart-item-photo {
  object-fit: cover;
  height: 145px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
}

.item-product-name {
  text-decoration: none;
  color: black;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 225px;
}

.remove-button {
  display: flex;
  align-items: flex-end;
}

.remove-button button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.remove-button button:hover {
  cursor: pointer;
}

.total {
  min-width: 225px;
  align-self: center;
  margin-right: 20px;
}