header {
  display: block;
  width: 100%
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  width: inherit;
  border-bottom: 1px solid #D3D3D3;
}

.title-and-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 750px;
}

.title {
  color: #f45800;
  font-size: 40px;
  margin-right: 20px;
  text-decoration: none;
}

.title:hover {
  cursor: pointer;
}

.search-bar {
  height: 32px;
  border: 1px solid #CFCBC8;
  background-color: #f9f9f8;
  border-radius: 3px;
  width: 360px;
  padding-left: 3px;
}

.search-submit {
  background-color: #f45800;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 35px;
  width: 80px;
  border-radius: 3px;
  border: none;
}

.search-submit:hover {
  cursor: pointer;
}

.login-signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
  width: 310px;
}

.signup-button {
  background-color: white;
  border: none;
  color: #f45800;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
}

.signup-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-button {
  background-color: white;
  color: #f45800;
  border: 1px solid #f45800;
  margin-right: 10px;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
}

.login-button:hover {
  background-color: #FAEBD7;
  cursor: pointer;
}

.cart-div {
  opacity: 0.6;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #D3D3D3;
  height: 52px;
  width: 30px;
  padding: 8px;
  text-decoration: none;
}


.cart-div:hover {
  opacity: 0.8;
  cursor: pointer;
}

.cart {
  height: 25px;
  width: 25px;
}

.cart-text {
  font-size: 14px;
  margin: 2px;
  color: black;
}

.your-page{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
  width: 310px;
}

.sell-link {
  background-color: white;
  border: none;
  color: #f45800;
  padding: 8px;
  border-radius: 3px;
  font-size: 15px;
  text-decoration: none;
}

.you-link{
  opacity: 0.4;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 30px;
  padding: 8px;
  text-decoration: none;
  margin-bottom: 3px;
}

.person-icon {
  height: 35px;
  width: 35px;
}

.you-text {
  font-size: 14px;
  color: black;
}

.logout-input {
  background-color: white;
  color: #f45800;
  border: 1px solid #f45800;
  margin-right: 10px;
  padding: 8px;
  border-radius: 3px;
  font-size: 14px;
}

.logout-input:hover {
  background-color: #FAEBD7;
  cursor: pointer;
}
