
.create-edit-form {
  background-color: #faf9f6;
  width: 1905px;
  height: 800px
}


.main-div {
  /* height:inherit; */
  min-height: calc(100vh - 60px);
}

.form-header {
  text-align: center;
  font-size: 28px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 40px;
}

.inputs-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 100px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  height: 75%;
  margin-right: 0px;
  float: left;
}

.photo-div {
  display: inline-block;
  background-color: white;
  width: 40%;
  margin-right: 100px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  height: 75%;
  float: right;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.choose-file {
  margin-left: 9%;
  margin-top: 5%;
}

.photo-preview-div {
  height: 70%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-preview {
  max-height: 100%;
  max-width: 100%;
}

.listing-details {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.slogan {
  font-size: 16px;
  color: #777;
  margin: 5px 0px 15px 20px;
}

.cancel {
  float: right;
  width: 50px;
}

.description {
  width: 95%;
  height: 15%;
  margin-left: 20px;
}

.product-label {
  display: inline-block;
  margin-top: 25px;
}


.product-input {
  width: 70%;
  float: right;
  margin: 10px;
  font-size: 14px;
  padding-left: 3px;
  max-width: 100%;
  max-height: inherit;
  min-height: 40px;
}

.product-inputs {
  display: flex;
  margin-top: 75px;
  justify-content: space-around;
  width: 100%
}

.cancel-div {
  height: 25px;
  width: 45%
}

.cancel {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 99%;
  line-height: 25px;
  background-color: #00BFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.cancel:hover {
  cursor: pointer;
}

.submit-product-div {
 height: 25px;
 width: 45%
}

.submit-product {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  line-height: 25px;
  background-color: #F56400;
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.submit-product:hover {
  cursor: pointer;
}

.delete-product-div {
  margin-right: 25px;
  width: 45%;
  float: right;
  margin-top: 20px;
  font-size: 14px
}

.delete-product {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  line-height: 25px;
  background-color: red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.delete-product:hover {
  cursor: pointer;
}
