.form-div {
  background-color: rgb(248, 247, 249)
}

.create-edit-form {
  width: 1905px;
  height: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}


.main-div {
  height: inherit;
  min-height: calc(100vh - 100px);
}

.form-header {
  text-align: center;
  font-size: 28px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 10px;
}

.inputs-div {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 42%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  height: 80vh;
  margin-right: 0px;
}

.photo-div {
  height: 80vh;
  background-color: white;
  width: 42%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-file {
  margin-left: 9%;
  margin-top: 2%;
  height: 15%
}

.photo-preview-div {
  height: 70%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-preview {
  object-fit: cover;
  height: 400px;
  width: 350px;
}

.listing-details {
  font-size: 24px;
  margin-left: 20px;
  margin-top: 20px;
}

.slogan {
  font-size: 16px;
  color: #777;
  margin: 5px 0px 15px 20px;
}

.cancel {
  float: right;
  width: 50px;
}

.description {
  width: 95%;
  min-height: 35px;
  height: 10%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-label {
  display: inline-block;
}


.product-input {
  width: 70%;
  float: right;
  margin: 10px;
  font-size: 14px;
  padding-left: 3px;
  max-width: 100%;
  height: 35px;
  max-height: 100%;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  resize: none;
  min-height: 35px;
}

.text-area textarea {
  min-height: 100%;
  padding-top: 10px;
}

.text-area label {
  margin-top: 40px;
}

.text-area {
  width: 95%;
  height: 10%;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}



.product-inputs {
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.cancel-div {
  height: 25px;
  width: 45%
}

.cancel {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 99%;
  line-height: 25px;
  background-color: #00BFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.cancel:hover {
  cursor: pointer;
}

.submit-product-div {
 height: 25px;
 width: 45%
}

.submit-product {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  line-height: 25px;
  background-color: #F56400;
  padding: 6px 14px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.submit-product:hover {
  cursor: pointer;
}

.delete-product-div {
  margin-right: 25px;
  width: 45%;
  float: right;
  margin-top: 20px;
  font-size: 14px
}

.delete-product {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  line-height: 25px;
  background-color: red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-align: center;
}

.delete-product:hover {
  cursor: pointer;
}

.product-errors {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 45px;
}

.product-single-error {
  font-size: 14px;
  color: red;
  list-style: none;
}

.category {
  width: 100px;
}
