$airplane: image_url("airplane.png");

.show-main{
  height: 90%;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-show-div {
  max-height: 90%;
  height: 650px;
  width: 75%;
  display: flex;
  justify-content: center;

}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 45%;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-right: 10%;
  word-wrap: break-word;
}

.show-image-div {
  object-fit: cover;
  height: 625px;
  width: 525px;
}

.user-description {
  margin-bottom: auto;
  height: 40%;
  width: 100%;
}

.edit-link {
  width: 87%;
  line-height: 20px;
  background-color: #00BFFF;
  color: white;
  font-weight :bold;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  text-decoration: none;
  text-align: center;
  margin-bottom: auto;
}

.product-description {
  width: 98%;
  padding: 0;
  margin-bottom: auto;
  word-wrap: break-word;
  margin-top: 8%;
}

.info-submit {
  height: 90%;
  width: 30%;
  /* border: 1px yellow solid; */
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2%;
}

.product-information {
  display: flex;

  flex-direction: column;
  margin-right: 8%;
  word-wrap: break-word;
  margin-bottom: 7%;
}

.quantity-cart {
  margin-bottom: 5%;
}

.quantity {
  float: right;
  margin-left: 10px;
}


.add-cart {
  width: 100%;
  line-height: 20px;
  background-color: #F56400;
  color: white;
  font-weight :bold;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  display: block;
  align-self: flex-end;
  bottom: 0;

}

.title-price {
  width: inherit;
  // height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
}

.product-title {
  max-width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.product-price {
  font-weight: bold;
  opacity: 0.8;
  margin-top: 3%;
}

.user-userpic {
  text-decoration: none;
  display: flex;
  margin-bottom: auto;
  justify-content: space-between;
  height: 45%;
  font-weight: 400;
  width: 100%;
  margin-bottom: 3%;
}

.sold-text{
  align-self: center;
}

.sold-by {
  opacity: 0.6;
  font-style: italic;
  color: black;
}

.seller-name {
  margin-top: 5px;
  text-decoration: none;
  color: #f98f45;
  font-size: 20px;
  font-weight: bold;
}


.seller-pic {
  height: 100%;
  width: 50%;
  margin-right: auto;

  background-image: $airplane;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
