.review-form-details {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 250px;
  border: 1px solid white;
  border-bottom: 1px solid #e1e3df;
  margin-bottom: 15px;
}

.review-form-details:hover {
  border: 1px solid #f98f45
}

.review-details-list {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 250px;
}

.review-details-list div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.review-many-errors{
  display: flex;
  justify-content: space-around;
}

.review-single-error {
  font-size: 12px;
  color: red;
  list-style: none;
  margin-top: 10px;
  margin-left: 10px;
}

.rating-form-title-body {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
}

.rating-form-title-body li {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.form-title-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.form-title-body li {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.review-form-title {
  font-size: 14px;
  margin-bottom: 15px;
  width: 60%;
}

.review-form-title input {
  width: 60%;
  margin-right: 13%;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.review-form-body {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  width: 85%;
}

.review-form-body textarea {
  width: 70%;
  margin-right: 2%;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
  resize: none;
}

.rating-date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 25px
}

.review-create-update{
  margin-bottom: 35%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #F56400;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.review-form-rating {
  font-size: 14px;
  width: 100%;
}

.review-form-rating input {
  width: 25%;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}
