$airplane: image_url("airplane.png");

.review-div {
  width: 60%;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 10%;
  // border: 1px solid #ADD8E6;
}

.reviews-stars {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 16px;
  margin-left: 40px;
}

.reviews-numRatings p {
  font-weight: bold;
  margin-top: 20px;
  color: #f98f45
}

.reviews-stars h1 {
  font-weight: bold;
  opacity: 0.8;
  color: #f98f45;
}

.review-details {
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 250px;
  border-bottom: 1px solid #e1e3df;
}

.review-details div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.review-image {
  width: 15%;
}

.review-delete {
  margin-top: 30%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: red;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.review-delete:hover {
  cursor: pointer;
}

.review-reviewer {
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.reviewer-image {
  width: 100%;
  height: 40%;
  background-image: $airplane;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}

.rating-title-body {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 50%;
}

.title-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.review-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.review-body {
  font-size: 14px;
}

.rating-date {
  display: flex;
  margin-right: 25px
}

.review-rating {
  color: #f98f45;
}
