.formtype {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 25px;
  left: 25px;
  width: auto;
  height: 20px;
}

.session-form {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  width: auto;
  height: auto;
  overflow: visible;
}

.session-label {
  position: relative;
  left: 25px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: auto;
}

.sign-in-input{
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  width: 290px;
  line-height: 40px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #D3D3D3;
  left: 5px;
  height: auto;
  padding-left: 3px;
}

.session-submit {
  position: relative;
  width: 290px;
  line-height: 20px;
  left: 30px;
  background-color: #F56400;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.session-submit:hover {
  cursor: pointer;
}

.line-or {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.or-span {
  position: relative;
  height: 20px;
  width: 20px;
  color: #black;
  opacity: 0.4;
  margin-left: 10px;
  margin-right: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: inherit;
    overflow: hidden;
}

.demo-submit {
  position: relative;
  width: 290px;
  line-height: 20px;
  left: 30px;
  background-color: #00BFFF;
  color: white;
  font-weight :bold;
  font-size: 16px;
  padding: 12px 28px;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}

.demo-submit:hover {
  cursor: pointer;
}

.login-errors {
  width: inherit;
  position: relative;
  left: 10px;
  color: red;
  margin-bottom: 5px;
  font-size: 14px;
}
