$airplane: image_url("airplane.png");

.seller-show-div {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.seller-title-and-picture {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.welcome-total {
  display: flex;
  flex-direction: column;
}

.total {
  opacity: 0.6;
}

.welcome {
  font-size: 24px;
  margin-right: 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #f45800;
}

.seller-profile-picture {
  height: 100px;
  width: 100px;
  margin-left: 20px;
  background-image: $airplane;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-right: 14px;
}

.seller-product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;
  width: 100%
}

.seller-products-list {
  width: 300px;
  height: 475px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
}

.seller-products-list:hover {
  border: 0.5px solid #D3D3D3;
  border-radius: 3px;
}

.seller-products-list li{
  list-style: none;
}
.seller-product-pic {
  height: 90%;
  width: 98%;
}

.seller-product-name {
  margin-bottom: 5px;
  color: black;
}

.seller-product-price {
  color: black;
  opacity: 0.7;
}

.feature-outer-div{
  width: 100%;
  background-color: #faf9f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all-image-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-top: 1%;
  opacity: 0.5;
}


.everything {
  width: 100%;
  background-color: #faf9f5;
  display: flex;
  justify-content: center;
}

.all-images {
  display: flex;
  justify-content: center;
  background-color: inherit;
  padding: 50px 0;
}

.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10%;
  color: black;
  text-decoration: none;
}

.featured-image {
  object-fit: cover;
  height: 450px;
  width: 450px;
  background-color: inherit;
  border: 1.25px solid #faf9f5;
}

.four-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  background-color: inherit;
}

.first-two-items {
  display: flex;
  justify-content: space-between;
  background-color: white;
  background-color: inherit;
}

.product-image-1 {
  object-fit: cover;
  height: 225px;
  width: 225px;
  background-color: inherit;
  border: 1.25px solid #faf9f5;
}

.last-two-items {
  display: flex;
  justify-content: space-between;
  background-color: white;
  background-color: inherit;
}

.single-image {
  padding: 5px;
  background-color: inherit;
  color: black;
  text-decoration: none;
}

.featured-image:hover {
  border: 1px solid #f98f45;
  border-radius: 3px;
}

.single-image img:hover {
  border: 1.25px solid #f98f45;
  border-radius: 3px;
}

.product-index-items img{
  border: 1.25px solid white;
}

.product-index-items img:hover {
  border: 1.25px solid #f98f45;
  border-radius: 3px;
}
